@import url('https://fonts.googleapis.com/css2?family=Indie+Flower&family=Poppins&display=swap');

body {
  font-family: 'Poppins', sans-serif;
}

nav {
  display: flex;
  align-items: center;
  justify-content: center;
}

ul {
  display: flex;
  list-style: none;
}

li {
  padding: 0 1em;
}

.meals-section {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 10px;
}

.meal-desc {
  display: flex;
  justify-content: space-between;
}

.image-container {
  width: 100%;
}

.meal-img {
  width: 100%;
  object-fit: cover;
}

.popup {
  position: fixed;
  width: auto;
  height: fit-content;
  top: 2px;
  left: 30%;
  padding: 2rem;
  border-radius: 1rem;
}

.popupContent {
  width: 80%;
  margin: auto;
}

.popUp_image {
  width: 55%;
}

.popup-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.7);
  z-index: -1;
}

.popupInnerContainer {
  width: 50%;
  height: 100%;
  position: absolute;
  background-color: #fff;
  z-index: -1;
  padding-left: 2rem;
  padding-right: 2rem;
}

footer {
  padding: 2rem;
  text-align: center;
  border: 1px solid;
}
