@import url('https://fonts.googleapis.com/css2?family=Indie+Flower&family=Poppins&display=swap');

body {
  font-family: 'Poppins', sans-serif;
}

nav {
  display: flex;
  align-items: center;
  justify-content: center;
}

ul {
  display: flex;
  list-style: none;
}

li {
  padding: 0 1em;
}

.meals-section {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 10px;
}

.meal-desc {
  display: flex;
  justify-content: space-between;
}

.image-container {
  width: 100%;
}

.meal-img {
  width: 100%;
  object-fit: cover;
}

.popup {
  position: fixed;
  width: auto;
  height: fit-content;
  top: 2px;
  left: 30%;
  padding: 2rem;
  border-radius: 1rem;
}

.popupContent {
  width: 80%;
  margin: auto;
}

.popUp_image {
  width: 55%;
}

.popup-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.7);
  z-index: -1;
}

.popupInnerContainer {
  width: 50%;
  height: 100%;
  position: absolute;
  background-color: #fff;
  z-index: -1;
  padding-left: 2rem;
  padding-right: 2rem;
}

footer {
  padding: 2rem;
  text-align: center;
  border: 1px solid;
}

/* CSS for the modal */
.modal {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
}

.popup-content {
  background-color: white;
  padding: 20px;
  border-radius: 5px;
  max-width: 400px;
}

.close-btn {
  margin-top: 10px;
  padding: 8px 16px;
  background-color: #eaeaea;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

.reservation-data div {
  margin-bottom: 10px;
}

#reservationImage {
  width: 100%;
  height: auto;
  margin-top: 10px;
}

.new-modal {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
}

.new-popup-content {
  background-color: #fff;
  padding: 20px;
  border-radius: 8px;
  max-width: 400px;
}

.new-popup-content h2 {
  margin-top: 0;
  font-size: 20px;
}

.new-popup-content form label {
  display: block;
  margin-bottom: 8px;
}

.new-popup-content form input[type="text"],
.new-popup-content form input[type="date"],
.new-popup-content form input[type="time"],
.new-popup-content form input[type="number"] {
  width: 100%;
  padding: 8px;
  border: 1px solid #ccc;
  border-radius: 4px;
  margin-bottom: 12px;
}

.new-popup-content form button[type="submit"] {
  background-color: #ccc;
  color: #000;
  padding: 8px 16px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

.new-popup-content form .reservation-close-btn {
  background-color: #ccc;
  color: #000;
  padding: 8px 16px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  margin-left: 8px;
}

.new-popup-content form button[type="submit"]:hover,
.new-popup-content form .reservation-close-btn:hover,
.close-btn:hover {
  background-color: #45a049;
}
